# compiled output
/dist
/node_modules

# Cross branch files
/packages/
riderModule.iml
/_ReSharper.Caches/
**/.vs
**/bin
**/obj
**/*.user
**/Logs/*
**/.idea
**/Migrations

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace




**/.env.*
!**/.env.*example*
**/drizzle/meta
**/drizzle/*.sql
**/redis_data
**/postgres_data
**/test.*
